<!DOCTYPE htmlPUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Account activation</title>
</head>
<body style="margin: 0; width: 100%; max-width: 640px;">
<table style="margin: 0; width: 100%;" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center" style="background-color: orange; height: 60px; color: white; font-size: 26px">{{headerMessage}}
    </td>
  </tr>
  <tr>
    <td align="center" style="height: 60px; font-size: 20px">{{extraMessage}}</td>
  </tr>
  <tr>
    <td align="center"
        style="height: 60px; font-size: 32px; letter-spacing: 5px; font-weight: 600; color: lightseagreen">{{activationCode}}</td>
  </tr>
</table>
</body>
</html>