.auth-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-gap: 68px;

  &__social-block {
    display: flex;
    grid-gap: 18px;

    app-icon-card-button {
      width: 60px;
      height: 60px;
    }
  }

  &__login-form-block {
    display: flex;
    flex-direction: column;
    grid-gap: 30px;
    margin: 0;
    padding: 0;
  }

  &__register-text {
    font-weight: 600;
    font-size: 16px;
    text-align: center;

    &__secondary-text {
      margin-left: 5px;
    }
  }
}
